/* styles.css */

#typingArea {
    height: 425px;
    overflow-y: auto;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    opacity: 1;
    margin-bottom: 150px;
}

.home-icon-parent {
    position: absolute;
    margin: 5px;
}

.home-icon {
    background-color: #000;
	width: 35px;
	height: 35px;
	position: relative;
    border-radius: 5px;
}

.fade-out {
    animation: fadeOut 10s;
}

.write-for-text {
    margin: auto;
    padding-right: 10px;
}

#timer {
    padding-left: 10px;
    margin: auto;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0.4;}
}

#fullscreenBtn {
    box-sizing: content-box;
    position: absolute;
    top: 10px;
    right: 10px;
}

#wordCount {
    text-align: center;
    background-color: transparent;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.form-check-label {
    padding-right: 10px;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
}

/* Small screens (mobile) */
@media only screen and (max-width: 600px) {
    #typingArea {
        font-size: 16px;
        height: 350px;
    }
    .btn-group-toggle {
        display: flex;
        flex-wrap: wrap;
    }
    .btn-group-toggle > .btn {
        flex-grow: 1;
    }
    h1 {
        font-size: 2rem;
    }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    #typingArea {
        font-size: 18px;
    }
}

/* Large screens (laptops, desktops) */
@media only screen and (min-width: 900px) {
    #typingArea {
        font-size: 20px;
    }
}





